<div class="container">

  <div class="big-container">

    <div class="top-title">
    <div class="top-logo">
    <img src="../assets/images/icon/Union.svg" alt="union" >
    <h1>Design Guild</h1>
    </div>
    <div class="inputs"> 
      <div class="input">
        <label for="email">        
        Email
      </label>
      <input type="email" placeholder="Ej:ejemplo@correo.com">
      </div>
      <div class="input pass-input">
        <label for="password">Password</label>
        <div class="pass-img">
          <input type="text" placeholder="........">
      <img src="../assets/images/icon/eye.svg" alt="">
        </div>
      <a>Forgot Password?</a>
      </div>
      <button>Login</button>
    </div>
  </div>

  <section class="mid-container">
    <div class="profile-card">
    <div class="title-card">
      <h1>Welcome to Design Guild</h1>
      <p>Join the world's largest community for designers</p>
    </div>
    <div class="recent-logins">
      <p>Recent Logins</p>
    </div>
    <div class="avatar-cards">
      <div class="card">
        <img class="avatar" src="../assets/images/IMG2.jpg" alt="">
        <p>Aliana Hepburn</p>
      </div>
      <div class="card">
        <img class="avatar" src="../assets/images/IMG1.jpg" alt="">
        <p>Andrew Pochnik</p>
      </div>
      <div class="card-account">
        <div class="cont-img">
          <img src="../assets/images/icon/add.svg" alt="">
        </div>
        <p>Add Acount</p>
      </div>
    </div>
  </div>
  <div class="second-card">
    <div class="title-card">
      <h2 class="line">Join our</h2>
      <h2 class="line">community today</h2>
      <p>Get connected, find designers to start a project</p>
    </div>
    <div class="buttons">
      <button class="sign">Sign Up</button>
    <p>Or, login with</p>
    <div class="btn-social">
      <button>Facebook</button>
      <button>Linked In</button>
      <button>Google</button>
    </div>
    </div>
  </div>
  </section>
  </div>
    <footer>

  </footer>
</div>